<!doctype html>
<html lang="en-US">
<head>
	<%= render "layouts/header" %>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="profile" href="http://gmpg.org/xfn/11">

	<title>Career &#8211; Just Mind Work</title>
<meta name='robots' content='max-image-preview:large' />
<link rel='dns-prefetch' href='//s.w.org' />
<link href='https://fonts.gstatic.com' crossorigin rel='preconnect' />       
<body class="page-template page-template-page-templates page-template-template_page-builder page-template-page-templatestemplate_page-builder-php page page-id-604 wp-custom-logo menuStyle2 menuNotContained sticky-header elementor-default elementor-kit-411">

		
<!-- #masthead -->
	<div id="content" class="site-content">

	
	<div id="primary" class="content-area">
		<main id="main" class="site-main" role="main">

<h1 class="head">Career at 
 <b>Just Mind Work</b></h1>
<h2>Current Job Openings</h2>
<p><a href="">Ruby On Rails Developer  | Location: Indore, India | Experience : 1 to 4 Years</a></p>
<h3>Job Description</h3>
<p>Design, develop, troubleshoot and debug software programs with hands-on in Ruby on Rails<br />
Contribute at individual level in coding and development of modules, module level integrations, API integrations, supporting integration with customer systems, integration with third party apps platforms<br />
Write maintainable scalable efficient code<br />
Required Job Skills<br />
Atleast 1 to 4 yrs of experience in Ruby on Rails development<br />
Should have sound knowledge of html, css: (preferably Bootstrap), javascriptcoffeescript, Jquery, Ajax<br />
Should have sound knowledge of database<br />
Design, build, and maintain efficient, reusable, and reliable Ruby code.</p>
<p><strong>Want to apply?</strong> Fill the form below.</p>
<p><a href="">React JS Developer  | Location: Indore, India | Experience : 2+ Years</a></p>
<h3>Job Description</h3>
<p>Develop user interface components and implementing them following well-known React.js workflows (such as Flux or Redux).<br />
Coordinate with the rest of the team working on different layers of the infrastructure.<br />
Developing new user-facing features using ReactJS, building reusable components and front-end libraries for future use.<br />
Translate designs and wireframes into high quality code<br />
Required Job Skills<br />
Strong proficiency in JavaScript, including DOM manipulation and the JavaScript object model<br />
Thorough understanding of React.js and its core principles<br />
Experience with popular React.js workflows for state management (such as Redux/Mobx)<br />
Familiarity with RESTful APIs</p>
<p><strong>Want to apply?</strong> Fill the form below.</p>
<p><a href="">Python Developer | Location: Indore, India | Experience : 2+ Years</a></p>
<h3>Job Description</h3>
<p>Develop a web-based application using Python, Django, JavaScript<br />
Design, document, implement and provide leadership on a large core part of the management application.<br />
Work with various cross-functional groups such as product management, other development teams, QA, and documentation.<br />
Use the Agile process for the software development life cycle.<br />
Required Job Skills<br />
Atleast 2 years of proven expertise in web programming<br />
Experience with one of the Python frameworks (Django)<br />
Expertise in JavaScript programming language and object oriented concepts in JavaScript.</p>
<p><strong>Want to apply?</strong> Fill the form below.</p>
<p><a href="">FullStack ROR Developer  | Location: Indore, India | Experience : 2+ Years</a></p>
<h3>Job Description</h3>
<p>We are looking for a highly skilled computer programmer who is comfortable with both front and back end programming. Full Stack Developers are responsible for developing and designing front end web architecture, ensuring the responsiveness of applications using technologies like Angular/React and working alongside graphic designers for web design features, among other duties. One should be comfortable working with backend using ROR. Full Stack Developers will be required to see out a project from conception to final product, requiring good organizational skills and attention to detail.</p>
<p><strong>Want to apply?</strong> Fill the form below.</p>
<h1>Want to join our team?</h1>
<p>Apply by filling the form below.</ p>
<div role="form" class="wpcf7" id="wpcf7-f613-p604-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
<form action="/career-at-just-mind-work/#wpcf7-f613-p604-o1" method="post" class="wpcf7-form init" enctype="multipart/form-data" novalidate="novalidate" data-status="init">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="613" />
<input type="hidden" name="_wpcf7_version" value="5.4.1" />
<input type="hidden" name="_wpcf7_locale" value="en_US" />
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f613-p604-o1" />
<input type="hidden" name="_wpcf7_container_post" value="604" />
<input type="hidden" name="_wpcf7_posted_data_hash" value="" />
</div>
<div class="contact-business-form">
<div class="row">
<div class="col-md-4">
<lebel>Your Name<span style="color:red;">*</span></lebel><br />
<span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control size" aria-required="true" aria-invalid="false" placeholder="Enter name..."></span>
</div>
<div class="col-md-4">
<lebel>Mobile No<span style="color:red;">*</span> </lebel><br />
<span class="wpcf7-form-control-wrap your-phone"><input type="tel" name="your-phone" value="" size="40" maxlength="140" minlength="10" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel form-control" aria-required="true" aria-invalid="false" placeholder="Enter mobile no..." /></span>
</div>
<div class="col-md-4">
<lebel>Your Email<span style="color:red;">*</span> </lebel><br />
<span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Enter email..." /></span>
</div>
</div>
<div class="row"  style="padding-top: 50px!important;">
<div class="col-md-6">
<span class="wpcf7-form-control-wrap menu-823"><select name="menu-823" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" aria-required="true" aria-invalid="false"><option value="Select Role">Select Role</option><option value="Ruby On Rails Developer">Ruby On Rails Developer</option><option value="React JS Developer">React JS Developer</option><option value="Python Developer">Python Developer</option><option value="FullStack ROR Developer">FullStack ROR Developer</option></select></span>
</div>
<div class="col-md-6">
<lebel>Upload Resume<span style="color:red;">*</span> </lebel><br />
<span class="wpcf7-form-control-wrap file-103"><input type="file" name="file-103" size="40" class="wpcf7-form-control wpcf7-file wpcf7-validates-as-required" accept=".pdf,.doc,.docx" aria-required="true" aria-invalid="false" /></span>
</div>
</div>
<div class="d-md-flex justify-content-between align-items-end"  style="padding-top: 50px!important;">
<div class="submit-form"><input type="submit" value="Apply Now" class="wpcf7-form-control wpcf7-submit" /></div>
</div>
</div>
<div class="wpcf7-response-output" aria-hidden="true"></div></form></div>
<h2>Let’s Talk About Your Project</h2>
<p>We stay on top of our industry by being experts in yours.</p>
<p><%=link_to "Quote",career_path %><br />
<br />
</a></p>

		</main><!-- #main -->
	</div><!-- #primary -->
	</div><!-- #content -->
	
</div><!-- #page -->
<%= render "layouts/footer" %>

</body>
</html>
