<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Web Development</title>
</head>
<body>
  <div>
    <header id="masthead" class="site-header">

  <div class="container-fluid">
    <div class="row">
      <div class="site-branding col-md-4 col-sm-6 col-9">
        <a href="http://52.91.135.213/" class="custom-logo-link" rel="home"><img width="200" height="40" src="http://52.91.135.213/wp-content/uploads/2021/07/Just-Mind-Work.png" class="custom-logo" alt="Just Mind Work" /></a>     </div><!-- .site-branding -->

      <div class="header-mobile-menu col-md-8 col-sm-6 col-3">
        <button class="mobile-menu-toggle" aria-controls="primary-menu">
          <span class="mobile-menu-toggle_lines"></span>
          <span class="sr-only">Toggle mobile menu</span>
        </button>
      </div>

      <div class="d-flex justify-content-end col-md-8">
        <nav id="site-navigation" class="main-navigation">
          <div class="menu-menu-container"><ul id="primary-menu" class="menu"><li id="menu-item-321" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-321"><a href="http://52.91.135.213/">Home</a></li>
<li id="menu-item-322" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-322"><a href="http://52.91.135.213/about-us/">About us</a></li>
<li id="menu-item-413" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-413"><a href="#">Our Services</a>
<ul class="sub-menu">
  <li id="menu-item-611" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-602 current_page_item menu-item-611 active"><a href="http://52.91.135.213/web-development/" aria-current="page">Web Development</a></li>
  <li id="menu-item-609" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-609"><a href="http://52.91.135.213/mobile-app-solutions/">Mobile App Solutions</a></li>
</ul>
</li>
<li id="menu-item-610" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-610"><a href="http://52.91.135.213/career-at-just-mind-work/">Career</a></li>
<li id="menu-item-324" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-324"><a href="http://52.91.135.213/contact-us/">Contact us</a></li>
</ul></div>       </nav><!-- #site-navigation -->

                      </div>

    </div>
  </div>

</header>

  </div>
  <div id="content" class="site-content">
    <div id="primary" class="content-area">
      <main id="main" class="site-main" role="main">
        <div data-elementor-type="wp-post" data-elementor-id="602" class="elementor elementor-602" data-elementor-settings="[]">
           <div class="elementor-section-wrap" style="background-color:#9dacc4;">
              <section class="elementor-section elementor-top-section elementor-element elementor-element-7b4ce419 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="7b4ce419" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                 <div class="elementor-background-overlay"></div>
                 <div class="elementor-container elementor-column-gap-default" style="background-color: #54595f;">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-38fc3dd" data-id="38fc3dd" data-element_type="column">
                       <div class="elementor-widget-wrap elementor-element-populated">
                          <div class="elementor-element elementor-element-4d8d0b55 elementor-widget elementor-widget-spacer" data-id="4d8d0b55" data-element_type="widget" data-widget_type="spacer.default">
                             <div class="elementor-widget-container">
                                <div class="elementor-spacer">
                                   <div class="elementor-spacer-inner"></div>
                                </div>
                             </div>
                          </div>
                          <div class="elementor-element elementor-element-5156ceae elementor-widget elementor-widget-heading" data-id="5156ceae" data-element_type="widget" data-widget_type="heading.default">
                             <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default" style="font-weight: 500;font-size: 35px; color: #F47900;">Web <b>    Development  </b>   </h2>
                             </div>
                          </div>
                          <div class="elementor-element elementor-element-447ca3b elementor-widget elementor-widget-spacer" data-id="447ca3b" data-element_type="widget" data-widget_type="spacer.default">
                             <div class="elementor-widget-container">
                                <div class="elementor-spacer">
                                   <div class="elementor-spacer-inner"></div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </section>
              <section class="elementor-section elementor-top-section elementor-element elementor-element-d278995 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible" data-id="d278995" data-element_type="section" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
                 <div class="elementor-container elementor-column-gap-default" style="background-color: #54595f; font-size: 20px;">
                    <div class="elementor-column elementor-col-66 elementor-top-column elementor-element elementor-element-c58aaa5" data-id="c58aaa5" data-element_type="column">
                       <div class="elementor-widget-wrap elementor-element-populated">
                          <div class="elementor-element elementor-element-cdbcd5b elementor-widget elementor-widget-spacer" data-id="cdbcd5b" data-element_type="widget" data-widget_type="spacer.default">
                             <div class="elementor-widget-container">
                                <div class="elementor-spacer">
                                   <div class="elementor-spacer-inner"></div>
                                </div>
                             </div>
                          </div>
                          <div class="elementor-element elementor-element-e86275b elementor-widget elementor-widget-text-editor" data-id="e86275b" data-element_type="widget" data-widget_type="text-editor.default">
                             <div class="elementor-widget-container">
                                <p>We are a small creative team, trying to enrich the lives of others with<br />our services but are not limited to just these!!!<br />We offer Website Design and Development &amp; Mobile Application development.</p>
                                <p>Creative web solutions blended with the latest technologies form the right base for innovative businesses.</p>
                                <p><br />With the aid of state-of-the-art technologies, tools and architecture, we deliver awesome web application solutions that are long-lasting, modern and impactful to the very core.<br />We provide web development services according to the requirement, nature of their business, and needs of their usage. We Work On Different Web Development Technologies Like-Java, Angular, React, ROR, PHP, BOOTSTRAP, Codeigniter, Laravel &amp; Many More.<br />Our professional website designer always focuses on web development methodologies. The expertise has designed a website for several industries&#8217; restaurant, health, e-commerce, including corporate.</p>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-5a2aa5f business-video" data-id="5a2aa5f" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                       <div class="elementor-widget-wrap elementor-element-populated">
                          <div class="elementor-background-overlay"></div>
                          <div class="elementor-element elementor-element-f7059bc elementor-widget elementor-widget-spacer" data-id="f7059bc" data-element_type="widget" data-widget_type="spacer.default">
                             <div class="elementor-widget-container">
                                <div class="elementor-spacer">
                                   <div class="elementor-spacer-inner"></div>
                                </div>
                             </div>
                          </div>
                          <div class="elementor-element elementor-element-6544499 elementor-widget elementor-widget-spacer" data-id="6544499" data-element_type="widget" data-widget_type="spacer.default">
                             <div class="elementor-widget-container">
                                <div class="elementor-spacer">
                                   <div class="elementor-spacer-inner"></div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </section>
              <section class="elementor-section elementor-top-section elementor-element elementor-element-f37e738 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="f37e738" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" style="background-color: #01255e;">
                 <div class="elementor-background-overlay"></div>
                 <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-fef8718 elementor-invisible" data-id="fef8718" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
                       <div class="elementor-widget-wrap elementor-element-populated">
                          <div class="elementor-element elementor-element-9540833 elementor-widget elementor-widget-spacer" data-id="9540833" data-element_type="widget" data-widget_type="spacer.default">
                             <div class="elementor-widget-container">
                                <div class="elementor-spacer">
                                   <div class="elementor-spacer-inner"></div>
                                </div>
                             </div>
                          </div>
                          <div class="elementor-element elementor-element-9211d5f elementor-widget elementor-widget-heading" data-id="9211d5f" data-element_type="widget" data-widget_type="heading.default">
                             <div class="elementor-widget-container" style="text-align: center; color: #F47900; font-size: 20px;color:  white; ">
                                <p class="elementor-heading-title elementor-size-default" style="padding-top: 19px;">WHY TO CHOOSE</p>
                             </div>
                          </div>
                          <div class="elementor-element elementor-element-9c9ea93 elementor-widget elementor-widget-heading" data-id="9c9ea93" data-element_type="widget" data-widget_type="heading.default">
                             <div class="elementor-widget-container" style="text-align: center; font-size: 30px; color:  white">
                                <h2 class="elementor-heading-title elementor-size-default">Just Mind Work</h2>
                             </div>
                          </div>
                          <div class="elementor-element elementor-element-a643e95 elementor-widget elementor-widget-spacer" data-id="a643e95" data-element_type="widget" data-widget_type="spacer.default">
                             <div class="elementor-widget-container">
                                <div class="elementor-spacer">
                                   <div class="elementor-spacer-inner"></div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </section>
              <section class="elementor-section elementor-top-section elementor-element elementor-element-e0ed323 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="e0ed323" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;none&quot;}">
                 <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-503a19d" data-id="503a19d" data-element_type="column">
                       <div class="elementor-widget-wrap elementor-element-populated">
                          <div class="elementor-element elementor-element-7654878 test-class elementor-view-default elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="7654878" data-element_type="widget" data-widget_type="icon-box.default">
                             <div class="elementor-widget-container">
                                <div class="elementor-icon-box-wrapper" style="margin-left: 25px;">
                                   <div class="elementor-icon-box-icon">
                                      <span class="elementor-icon elementor-animation-" >
                                      <i aria-hidden="true" class="fas fa-address-card"></i>        </span>
                                   </div>
                                   <div class="elementor-icon-box-content">
                                      <h3 class="elementor-icon-box-title" style="color: #F47900;">
                                         <span >Holistic</span>
                                      </h3>
                                      <p class="elementor-icon-box-description">We seek out entrepreneurs and businesses that share our<br> passion for disruption. And look to join forces.</p>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-9613c56" data-id="9613c56" data-element_type="column">
                       <div class="elementor-widget-wrap elementor-element-populated">
                          <div class="elementor-element elementor-element-bdd8ccb test-class elementor-view-default elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="bdd8ccb" data-element_type="widget" data-widget_type="icon-box.default">
                             <div class="elementor-widget-container">
                                <div class="elementor-icon-box-wrapper" style="margin-left: 400px;">
                                   <div class="elementor-icon-box-icon">
                                      <span class="elementor-icon elementor-animation-" >
                                      <i aria-hidden="true" class="fas fa-code"></i>        </span>
                                   </div>
                                   <div class="elementor-icon-box-content">
                                      <h3 class="elementor-icon-box-title" style="color: #F47900;">
                                         <span >Goal Oriented</span>
                                      </h3>
                                      <p class="elementor-icon-box-description">At JMW, we focus on developing unerring results by setting<br> precise goals. One goal, One direction.</p>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-ea7d378" data-id="ea7d378" data-element_type="column">
                       <div class="elementor-widget-wrap elementor-element-populated">
                          <div class="elementor-element elementor-element-a25797e test-class elementor-view-default elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="a25797e" data-element_type="widget" data-widget_type="icon-box.default">
                             <div class="elementor-widget-container">
                                <div class="elementor-icon-box-wrapper" style="margin-left: 800px;">
                                   <div class="elementor-icon-box-icon">
                                      <span class="elementor-icon elementor-animation-" >
                                      <i aria-hidden="true" class="fas fa-laptop-code"></i>       </span>
                                   </div>
                                   <div class="elementor-icon-box-content">
                                      <h3 class="elementor-icon-box-title" style="color: #F47900;">
                                         <span >Specialists</span>
                                      </h3>
                                      <p class="elementor-icon-box-description">Angular, Python, React, Ruby on Rails. The more 'niche' the better. We relish technological challenges.</p>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </section>
              <section class="elementor-section elementor-top-section elementor-element elementor-element-e333764 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="e333764" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                 <div class="elementor-container elementor-column-gap-default" style="background-color: #F47900; text-align: center; font-size: 30px; color: whitesmoke;">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b96fdcb" data-id="b96fdcb" data-element_type="column">
                       <div class="elementor-widget-wrap elementor-element-populated">
                          <div class="elementor-element elementor-element-f828fb4 elementor-widget elementor-widget-heading" data-id="f828fb4" data-element_type="widget" data-widget_type="heading.default">
                             <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">Let’s Talk About Your Project</h2>
                             </div>
                          </div>
                          <div class="elementor-element elementor-element-45db600 elementor-widget elementor-widget-heading" data-id="45db600" data-element_type="widget" data-widget_type="heading.default">
                             <div class="elementor-widget-container">
                                <p class="elementor-heading-title elementor-size-default">We stay on top of our industry by being experts in yours.</p>
                             </div>
                          </div>
                          <div class="elementor-element elementor-element-2eab9b2 elementor-align-center elementor-widget elementor-widget-button" data-id="2eab9b2" data-element_type="widget" data-widget_type="button.default">
                             <div class="elementor-widget-container">
                                <div class="elementor-button-wrapper">
                                   <!-- <a href="http://52.91.135.213/contact-us/" class="elementor-button-link elementor-button elementor-size-sm" role="button">
                                   <span class="elementor-button-content-wrapper">
                                   <span class="elementor-button-text">Get a quote</span>
                                   </span>
                                   </a> -->
                                   <%= link_to "Get a Quote",jmw_contact_us_path, class: 'button' %>
                                   <%= button_to "Get a Quote",jmw_contact_us_path %>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </section>
           </div>
        </div>
      </main>
       <!-- #main -->
    </div>
            <!-- #primary -->
         </div>

</body>
</html>
